body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-top: 10px;
    background-color: #f8f8f8;

}
header {
    padding-top: 50px;
    background-color: white;
}

nav {
    text-align: center;
    text-decoration: none;
    padding-bottom: 60px;
    color: #00C9FF;
    background-color: white;
    padding-bottom: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1, h3 {
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: black;
    padding-right: 3px;
    
}

a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: #00C9FF;
}
section {
    color: white;
    
}
#skills {
    height: 50vh;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    padding: 10px;
    
}

#portfolio {
    height: 50vh;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);;
    padding: 10px;
}

#references {
    height: 50vh;
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);;
    padding: 10px;
}

#contact {
    height: 50vh;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    padding: 10px;
}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: white;
}

#card {
    margin: auto;
    width: 60%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}

#skills > h2 {
    font-size: 35px;
    text-align: center;
    margin-top: 29.05px !important;
    margin-bottom: 29.05px;
}

#portfolio > h2 {
    font-size: 35px;
    text-align: center;
}

#references > h2 {
    font-size: 35px;
    text-align: center;
}

#contact > h2 {
    font-size: 35px;
    text-align: center;
}

